.basketContainer {
    margin-bottom: -25px;
    position: relative;
    margin-left: 640px;
    margin-top: 37px;
   bottom: 780px;
    border: 3px solid #ffd300;
    width: 260px;
    border-radius: 0px 20px 20px 0px;
}
.fbasketContainer{
    position: relative;
    margin-left: 640px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 260px;
    border-radius: 0px 20px 20px 0px;
}
.owenBasketContainer{
    position: relative;
    margin-left: 640px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 260px;
    border-radius: 0px 20px 20px 0px;
}
.nutritionbasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.snackBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.ıcecreamBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.foodBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.milkBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
   bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.formBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.personalBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
   bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.careBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.lifeBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.technologyBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.petBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.babyBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
  bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.healthBasketContainer{
    position: relative;
    margin-left: 650px;
    margin-top: 37px;
    bottom: 780px;
    border: 3px solid #ffd300;
    width: 250px;
    border-radius: 0px 20px 20px 0px;
}
.basket {
    position: relative;
    color: #000;
    text-align: center;
    padding: 12px 5px;
    font-weight: 900;
}
.basketTotal {
    text-align: center;
    margin-top: 170px;
}
.basketClear {
    display: block;
    margin: 30px 30px;
    background-color: #ffd300;
    width: 150px;
    height: 35px;
    cursor: pointer;
}
.itemName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -75px;
}
.itemPrice {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 80px;
}