.categories {
    background-color: #fff;
    padding: 16px 0;
}

.categoriesHeader {
    margin: auto 100px;
}

.categoriesText {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 10px;
}

.categoriesItem {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.imageHref {
    display: inline-flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 108.8px;
    border-radius: 4px;
    transition: 0.2s ease 0s;
    overflow: visible;
    text-decoration: none;
    gap: 10px;
}

.categoriesImage {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(25, 25, 25, 0.1);
}

.categoriesTitle {
    font-size: 15px;
}

.imageHref:hover {
    background-color: #dbdbff;
    color: #5d3ebc;
    transition: 0.2s ease 0s;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 1192px) {
    .categoriesItem {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        text-align: center;
        align-items: center;
    }
    .imageHref:hover {
        letter-spacing:normal
    }
}

@media screen and (max-width: 1046px) {
    .categoriesItem {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        text-align: center;
        align-items: center;
    }
    .imageHref:hover {
        letter-spacing:normal
    }
}
@media screen and (max-width:900px) {
    .categoriesItem {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        text-align: center;
        align-items: center;
    }
    .imageHref:hover {
        letter-spacing:normal
    }
}

@media screen and (max-width:700px) {
    .categoriesItem {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        text-align: center;
        align-items: center;
    }
    .imageHref:hover {
        letter-spacing:normal
    }
}

@media screen and (max-width:500px) {
    .categoriesItem {
        display: grid;
       gap: 15px;
       text-align: center;
       align-items: center;
    }
    .imageHref:hover {
        letter-spacing:normal
    }
}