.footer {
    display: block;
    background-color: #fff;
    margin-top: 10px;
}

.footerDesc {
    width: 100%;
    margin: 0 auto;
}

.footerComment {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.downloadGetirApplication {
    align-items: center;
    color: #5d3ebc;
    margin-left: 140px;
    margin-right: 50px;
    margin-bottom: 16px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.downloadGetirApplicationIcon {
    display: grid;
    row-gap: 16px;
    margin-left: 140px;
    width: 130px;
    height: 90px;
}

.footerFirstStatemenet {
    align-items: center;
    margin-left: 100px;
    margin-bottom: 25px;
}

.footerFirstStatemenet ul li {
    list-style: none;
}

.statment {
    display: flex;
}

.footerFirstStatemenet a {
    text-decoration: none;
    color: #191919;
}

.lowerFooter {
    display: flex;
    justify-content: space-between;
    width: 340%;
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 25px;
    gap: 12px;
}

.copyright a {
    gap: 15px;
    color: #5d3ebc;
    text-decoration: none;
}

.copyright span {
    font-weight: 900;
}

.footerIcon {
    display: flex;
    gap: 4px;
}

.footerIcon a {
    box-shadow: 0px 5px 6px 0px gainsboro;
    padding: 14px;
    color: rgb(58, 58, 58);
    font-size: 20px;
}

.footerIcon a:hover {
    color: #5d3ebc;
    transition: all 0.3s;
}
@media screen and (max-width: 1212px) {
    .footerComment {
       
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .footerComment {
        margin-left: -38px;
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .lowerFooter .copyright {
        padding-bottom: 28px;
    }
    .footerIcon {
        position: absolute;
        margin-top: 50px;

    }
    .footerIcon a {
        font-size: 15px;
    }
}
@media screen and (max-width:568px) {
    .footerComment {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .footerFirstStatemenet{
       display: flex;
       bottom: 35px;
    }
} 

@media screen and (max-width:458px) {
    .footerComment {
        display: grid;
        grid-template-columns: 1fr;
    } 
}