
.Slider{
    position: relative;
    margin: auto;
    height: 500px;
    
}
.heroImage{
   width: 100%; 
   height: 500px;
   object-fit: cover;  /*Resim, en/boy oranını koruyarak ancak işlem sırasında resmi kırparak kutunun yüksekliğini ve genişliğini dolduracaktır.*/
}

 .leftText{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 0;
   left:200px;
   transform: translateX(-50%);
   height: 100%;
   z-index: 20;
   
  
}

.fastTime{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 600;
    color: #fff ;
}
