.mobileApp {
    background-image: url(https://cdn.getir.com/getirweb-images/common/illustration/doodle.png);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #5d3ebc;
    border-radius: 8px;
    z-index: 1;
    margin-top: 24px;
    margin-bottom: 24px;
    min-height: 312px;
    width: 1320px;
    height: 40px;
    margin-left: 100px;
}

.uploadApp {

    color: #f3f0fe;
    margin-left: 30px;
    font-weight: 900;
}

.uploadApp span {
    font-size: small;
    font-weight: 400;
}

.download {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    object-fit: contain;
    margin-top: 20px;
    width: 100px;
}

.rightİmage {
    display: inline-flex;
    margin-left: 450px;
    margin-top: 15px;

}

@media screen and (max-width:1280px) {
    .rightİmage {
  margin-right: 355px;
   }
   .mobileApp{
    width: 60px;
   }

}

@media screen and (max-width:1444px) {
    .rightİmage {
  margin-right: 255px;
   }
   .mobileApp{
    width: 1160px;
   }

}

@media screen and (max-width:644px) {
    .rightİmage {
        display: none;
        width: 25px;
    } 
    .mobileApp {
     width: 400px;
    }  
    .uploadApp{
     text-align: center;
    }
    .uploadApp .download{
     margin-left: 90px;
    }
 }



@media screen and (max-width:548px) {
    .rightİmage {
        display: none;
        width: 25px;
    } 
    .mobileApp {
     width: 330px;
    }  
    .uploadApp{
     text-align: center;
    }
    .uploadApp .download{
     margin-left: 90px;
    }
 } 

@media screen and (max-width:504px) {
   .rightİmage {
       display: none;
       width: 25px;
   } 
   .mobileApp {
    width: 330px;
   }  
   .uploadApp{
    text-align: center;
   }
   .uploadApp .download{
    margin-left: 90px;
   }
}
