/* Kategoriler Barinin Baslangici */
.pageContainer {
    display: flex;
}

.PageCategories {

    font-weight: 600;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 35px;
}

.leftBar ul li a {

    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    color: #000;
}

.leftBar ul li a:hover {
    color: #5c3cbb;
    transition: all 0.1s;
}

.leftBar ul {
    display: inline-block;
    width: 250px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 55px;
    margin: 37px 50px;
    list-style: none;
}

.leftBar ul li img {
    margin-left: -30px;
    margin-top: 8px;
    position: absolute;
    width: 48px;
    height: 40px;
    border: 1px solid rgba(25, 25, 25, 0.1);
}

/*  Kategoriler Barinin Bitisi */

.pageItems ul li {
    margin-left: 50px;
    margin-top: 35px;
    list-style: none;
}


.data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 90px;
    margin-left: -52px;
    width: 700px;
}

.data .pageImage {
    width: 150px;
    object-fit: cover;
}

.pageTitle {
    text-align: center;
    font-size: 14px;
    padding-bottom: 4px;
}

.pageDesc {
    color: gray;
    font-size: 15px;
    text-align: center;

}

.pageButton {
    margin-left: 80px;
    font-size: 30px;
    color: #5c3cbb;
    position: absolute;
    margin-top: -30px;

    cursor: pointer;
    border-radius: 20%;
    border: 1px solid #838181;
}